*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-size: cover;
    background-color: #333333;
    color:white;
}
.column_left {
    float: left;
    width: 50%
}

.column_right {
    float:right;
    width: 45%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.main_logo{
    float:left;
    padding:5px;
    width:100px;

}

.top_head{
    background-color:#4CAF50;
    height:115px;
    text-align: center;
    font-size: 50px;
    
}

.top_head_staff{
    background-color:#4CAF50;
    color:white;
    height:115px;
    text-align: center;
    font-size: 50px;
}

.topnav{
    overflow: hidden;
    border-radius: 24px;
    background-color: rgba(76, 175, 80, 0.25);
    
}

.topnav a {
    float:left;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}



